<div class="header__search">
    <form action="/" method="POST">
        <a class="new" href="/homepage">Homepage</a>
        <a class="new" href="/contact">Contact</a>
        <a class="new" href="/about">About</a>
        <input type="text" name="search" placeholder="Search for news" required>
        <input type="submit" value="Search">
    </form>
</div>